/*Base html tags*/
body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}



/*id tags*/
#main_div {
    background-color: darkolivegreen;
    color: black;
    height: 500px;
    width: 100%;
}
#target_frame{
    height: 500px;
    width: 100%;
}

#attributes {
    background-color: blue;

}

#hmi_points{
background-color: indigo;
}

#hit_points {
        background-color: green;
}

#fabula_points {        
    background-color: violet;
}
#experience_points{        
    background-color: brown;
}
#levels{        
    background-color: antiquewhite;
}
#equipment{
    background-color: antiquewhite;

}
#zenit{
    background-color: antiquewhite;
}
#identity{
    background-color: red;
}
#experience_points{
    background-color: black;
    color: red;
}
#equipment{
    background-color: red;
}
#backpack{background-color: orange;}
#character_level{background-color: yellow;}
#traits{
    background-color: orange;
}
#bonds{
    background-color:yellow;
}

#primary_cs_frame{
    color: black;
    height:500px; 
    width:800px;
}

/*class tags*/
.title_bubble_vert{
    background-color: darkgrey;

}

.title_bubble_horiz{
    background-color:aquamarine;

}


.details_area{
    background-color: azure;
    border: 2px;
    border-style: solid;
}

.main_frame{
    background-color: whitesmoke;
}
